<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='homestyle.css') }}">
    <title>Transactions</title>
</head>
<body>
<div class="navbar">
    <a href="/">Home</a>
    <a href="/transactions">Transactions</a>
    <a href="/mine">Mining</a>
</div>
    <h1>Transactions</h1>
    <table border="1">
        <tr>
            <th>Number</th>
            <th>ID_sender</th>
            <th>StockSymbol</th>
            <th>Destinataire</th>
            <th>Quantity</th>
            <th>Action</th>
            <!-- Render each row of the CSV file -->
            {% for row in transactions[0:] %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
    </table>
</body>
</html>